<a href="https://colab.research.google.com/github/Shahala10/Addition/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=input("Enter the first name:")
b=input("enter the second name")
if a==b:
  print("BOTH THE NAMES ARE SAME")
else:
  print("BOTH THE NAMES ARE NOT EQUAL")

Enter the first name:SHAHALA
enter the second nameRAHSHIMA
BOTH THE NAMES ARE NOT EQUAL

In [5]:
a=input("enter a name")
len(a)

enter a nameshahala

7

In [14]:
a='SHAHALA RAHSHIMA'
a[11:]

'SHIMA'

In [15]:
my_list=[1,2,3]
print(my_list)

[1, 2, 3]

In [23]:
my_list=['shahala','krishnaja','shakeena','nasrin','shaaannn']
my_list.append('apppuuuu')
my_list.pop(0)
my_list.sort()
print(my_list)

['apppuuuu', 'krishnaja', 'nasrin', 'shaaannn', 'shakeena']